## {{ ansible_managed }}

MailFrom = {{ logwatch_mailfrom }}
MailTo = {{ logwatch_mail_to }}
Detail = {{ logwatch_detail }}
Range = {{ logwatch_range }}
Output = {{ logwatch_output }}
Format = {{ logwatch_format }}
{% if logwatch_service_all is true %}Service = All{% endif %}}
{% if logwatch_service_exclude is defined %}{% for service in logwatch_service_exclude %}Service ="{{ service }}"{%- endfor %}{%- endif %}}
{% if logwatch_service_include is defined %}{% for service in logwatch_service_include %}Service ={{ service }}{%- endfor %}{%- endif %}}
